button {
  font-family: var(--bebas);
  font-weight: bold;
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  transform: scale(0.94);
}

/* Responsiveness */
@media (max-width: 480px) {
  button {
    padding: 12px;
  }

}

@media (min-width: 481px) {
  button {
    padding: 14px;
  }
}

@media (min-width: 768px) {
  button {
    padding: 16px;
  }

}
