button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--bebas);
  font-weight: bold;
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  transform: scale(0.94);
}
