.nutrition-page-styles {
  display: flex;
  flex-direction: column;
  height: 78vh;
}

.banner-nutrition-page {
  background-image: url(../../assets//images/image-nutrition-neon.png);
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 150px;
}

.cards-info-nutrition {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
  flex: 1;
  padding: 16px;
  background-image: url(../../assets/images/bg-header-footer.png);
  color: var(--border-green);
  text-shadow: 4px 2px 3px var(--border);
  padding-top: 32px;
  cursor: default;
}

.cards-info-nutrition-title {
  font-size: 3rem;
  color: var(--border-green);
  text-shadow: 3px 2px 3px var(--border);
}

.cards-info-nutrition-itens {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
  overflow-wrap: break-word;
}

.cards-info-nutrition-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 2rem;
  color: var(--border-yellow);
  text-shadow: 3px 2px 3px var(--border);
}

.cards-info-nutrition-item:hover {
  color: var(--border-green);
  text-shadow: 3px 2px 3px var(--border);
}

.iconCheckNutrition {
  color: var(--border-green);
}

/* Responsiveness */
@media (max-width: 480px) {
  .nutrition-page-styles {
    height: 77.9vh;
  }

  .banner-nutrition-page {
    height: 80px;
  }

  .cards-info-nutrition {
    padding: 6px;
  }

  .cards-info-nutrition-title {
    font-size: 1.5rem;
  }

  .cards-info-nutrition-itens {
    align-items: start;
    gap:8px;
    width: 100%;
  }

  .cards-info-nutrition-item {
    font-size: 1rem;
  }

}

@media (min-width: 481px) {
  .nutrition-page-styles {
    height: 77.9vh;
  }

  .banner-nutrition-page {
    height: 100px;
  }

  .cards-info-nutrition {
    padding: 8px;
  }

  .cards-info-nutrition-title {
    font-size: 1.6rem;
  }

  .cards-info-nutrition-itens {
    align-items: start;
    gap: 8px;
    width: 100%;
  }

  .cards-info-nutrition-item {
    font-size: 1.1rem;
  }

}

@media (min-width: 768px) {
  .nutrition-page-styles {
    height: 75.2vh;
  }

  .banner-nutrition-page {
    height: 120px;
  }

  .cards-info-nutrition {
    padding: 10px;
  }

  .cards-info-nutrition-title {
    font-size: 1.7rem;
  }

  .cards-info-nutrition-itens {
    align-items: center;
    gap: 16px;
  }

  .cards-info-nutrition-item {
    font-size: 1.2rem;
  }

}

@media (min-width: 1024px) {
  .banner-nutrition-page {
    height: 140px;
  }

  .cards-info-nutrition {
    padding: 12px;
  }

  .cards-info-nutrition-title {
    font-size: 1.8rem;
  }

  .cards-info-nutrition-itens {
    gap: 24px;
  }

  .cards-info-nutrition-item {
    font-size: 1.3rem;
  }

}

@media (min-width: 1280px) {
  .cards-info-nutrition {
    padding: 14px;
  }

  .cards-info-nutrition-title {
    font-size: 1.9rem;
  }

  .cards-info-nutrition-itens {
    gap: 28px;
  }

  .cards-info-nutrition-item {
    font-size: 1.4rem;
  }

}

@media (min-width: 1440px) {
  .nutrition-page-styles {
    height: 75.3vh;
  }

  .cards-info-nutrition {
    padding: 16px;
  }

  .cards-info-nutrition-title {
    font-size: 2rem;
  }

  .cards-info-nutrition-itens {
    gap: 32px;
  }

  .cards-info-nutrition-item {
    font-size: 1.5rem;
  }

}
