.loader-span {
  display: flex;
  align-items: center;
  gap: 8px;
  position: fixed;
  bottom: 1%;
  right: 1%;
  cursor: default;
}

.loader-span-animation {
  width: 20px;
  height: 20px;
  border: 5px solid rgba(57, 255, 20, 1);
  border-top: 5px solid var(--text);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1;
}

.loader-span-text {
  color: var(--border-green);
  text-shadow: 3px 2px 3px var(--border);
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
