.timer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.timer-display {
  font-weight: bold;
  letter-spacing: 2px;
  cursor: default;
  border: 1px solid var(--border-green);
  border-radius: 6px;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.timer-buttons {
  display: flex;
  gap: 8px;
}

.timer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
