.cards-training {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 24px;
  width: auto;
  padding: 0 8px;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: default;
}

.cards-training-exercises-timer-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.cards-training-exercises-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 8px;
  border-bottom: 2px solid var(--border-green);
  border-radius: 8px;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.new-cards-training-exercises-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 8px;
  border-bottom: 2px solid var(--border-yellow);
  border-radius: 8px;
}

.cards-training-exercises {
  font-size: 2rem;
  color: var(--border-yellow);
  text-shadow: 2px 2px 3px var(--border);
  overflow-wrap: break-word;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
 }

.new-cards-training-exercises {
  font-size: 2rem;
  color: var(--border-green);
  text-shadow: 2px 2px 3px var(--border);
  overflow-wrap: break-word;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.specificStyleTimerExercises {
  flex-direction: row-reverse;
}

.specificStyleTimerDisplayExercises {
  font-size: 1.7rem;
  color: var(--border-yellow);
  text-shadow: 2px 2px 3px var(--border);
}

.new-specificStyleTimerDisplayExercises {
  font-size: 1.7rem;
  color: var(--border-green);
  text-shadow: 2px 2px 3px var(--border);
}

.specificStyleTimerButtonExercises {
  color: var(--text);
  box-shadow: 2px 2px 3px var(--border);
  background-color: var(--border-yellow);
  padding: 4px 16px;
}

.new-specificStyleTimerButtonExercises {
  /* color: var(--text);
  box-shadow: 2px 2px 3px var(--border);
  background-color: var(--border-green); */
  color: var(--text-inactive);
  box-shadow: 2px 2px 3px var(--text-inactive);
  background-color: var(--bg-inactive);
  padding: 4px 16px;
}

.specificStylesInput {
  appearance: none;
  position: relative;
  color: var(--border-yellow);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid var(--border-yellow);
  border-radius: 25%;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0;
  cursor: pointer;
  
}

.specificStylesInput:checked {
  border: 2px solid var(--border-green);
}

.specificStylesInput:checked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "✓";
  color: var(--border-green);
  font-size: 15px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

/* Responsiveness */
@media (max-width: 480px) {
  .cards-training {
    gap: 8px;
  }

  .cards-training-exercises-timer-checkbox {
    gap: 6px;
  }

  .cards-training-exercises-timer {
    justify-content: space-between;
    width: 100%;
  }

  .cards-training-exercises {
    font-size: 1rem;
  }

  .new-cards-training-exercises {
    font-size: 1rem;
  }

  .specificStyleTimerExercises {
    flex-direction: column;
  }

  .specificStyleTimerDisplayExercises {
    font-size: 1.25rem;
  }

  .new-specificStyleTimerDisplayExercises {
    font-size: 1.25rem;
  }

  .specificStyleTimerButtonExercises {
    font-size: 0.7rem;
  }

  .new-specificStyleTimerButtonExercises {
    font-size: 0.7rem;
  }

  .specificStylesInput {
    width: 10px;
    height: 10px;
  }

  .specificStylesInput:checked::after {
    font-size: 11px;
  }

}

@media (min-width: 481px) {
  .cards-training {
    gap: 8px;
  }

  .cards-training-exercises-timer-checkbox {
    gap: 6px;
  }

  .cards-training-exercises-timer {
    justify-content: space-between;
    width: 100%;
  }

  .cards-training-exercises {
    font-size: 1.1rem;
  }

  .new-cards-training-exercises {
    font-size: 1.1rem;
  }

  .specificStyleTimerExercises {
    flex-direction: column;
  }

  .specificStyleTimerDisplayExercises {
    font-size: 1.25rem;
  }

  .new-specificStyleTimerDisplayExercises {
    font-size: 1.25rem;
  }

  .specificStyleTimerButtonExercises {
    font-size: 0.7rem;
  }

  .new-specificStyleTimerButtonExercises {
    font-size: 0.7rem;
  }

  .specificStylesInput {
    width: 10px;
    height: 10px;
  }

  .specificStylesInput:checked::after {
    font-size: 11px;
  }

}

@media (min-width: 768px) {
  .cards-training {
    gap: 20px;
  }

  .cards-training-exercises-timer-checkbox {
    gap: 12px;
  }

  .cards-training-exercises-timer {
    justify-content: center;
    width: auto;
  }

  .cards-training-exercises {
    font-size: 1.2rem;
  }

  .new-cards-training-exercises {
    font-size: 1.2rem;
  }

  .specificStyleTimerExercises {
    flex-direction: row-reverse;
  }

  .specificStyleTimerDisplayExercises {
    font-size: 1.30rem;
  }

  .new-specificStyleTimerDisplayExercises {
    font-size: 1.30rem;
  }

  .specificStyleTimerButtonExercises {
    font-size: 0.75rem;
  }

  .new-specificStyleTimerButtonExercises {
    font-size: 0.75rem;
  }

  .specificStylesInput {
    width: 12px;
    height: 12px;
  }

  .specificStylesInput:checked::after {
    font-size: 13px;
  }

}

@media (min-width: 1024px) {
  .cards-training {
    gap: 22px;
  }

  .cards-training-exercises-timer-checkbox {
    gap: 16px;
  }

  .cards-training-exercises {
    font-size: 1.3rem;
  }

  .new-cards-training-exercises {
    font-size: 1.3rem;
  }

  .specificStyleTimerDisplayExercises {
    font-size: 1.35rem;
  }

  .new-specificStyleTimerDisplayExercises {
    font-size: 1.35rem;
  }

  .specificStyleTimerButtonExercises {
    font-size: 0.8rem;
  }

  .new-specificStyleTimerButtonExercises {
    font-size: 0.8rem;
  }

  .specificStylesInput {
    width: 16px;
    height: 16px;
  }

  .specificStylesInput:checked::after {
    font-size: 15px;
  }

}

@media (min-width: 1280px) {
  .cards-training {
    gap: 24px;
  }

  .cards-training-exercises {
    font-size: 1.4rem;
  }

  .new-cards-training-exercises {
    font-size: 1.4rem;
  }

  .specificStyleTimerDisplayExercises {
    font-size: 1.40rem;
  }

  .new-specificStyleTimerDisplayExercises {
    font-size: 1.40rem;
  }

  .specificStyleTimerButtonExercises {
    font-size: 0.85rem;
  }

  .new-specificStyleTimerButtonExercises {
    font-size: 0.85rem;
  }

  .specificStylesInput {
    width: 20px;
    height: 20px;
  }

}

@media (min-width: 1440px) {
  .cards-training-exercises {
    font-size: 1.5rem;
  }

  .new-cards-training-exercises {
    font-size: 1.5rem;
  }

  .specificStyleTimerDisplayExercises {
    font-size: 1.45rem;
  }

  .new-specificStyleTimerDisplayExercises {
    font-size: 1.45rem;
  }

  .specificStyleTimerButtonExercises {
    font-size: 0.9rem;
  }

  .new-specificStyleTimerButtonExercises {
    font-size: 0.9rem;
  }

}
