.styleToggle {
  display: flex;
  align-items: center;
  color: var(--border-green);
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.styleToggle:hover {
  color: var(--border);
  transform: scale(0.94);
}

.toggle-on, .toggle-off {
  cursor: pointer;
}
