.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12.9vh;
  padding: 0 16px;
  border-bottom: 1px solid var(--border-green);
  background-image: url(../../assets/images/bg-header-main-footer.png);
  background-position: center;
  background-size: cover;
}

.link-img {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.title-timer {
  position: absolute;
  top: 209%;
  left: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid var(--border-green);
  border-radius: 6px;
  box-shadow: 0 0 5px var(--border), 0 0 10px var(--border);
}

.timer-delete-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.1rem;
  color: var(--border-green);
  cursor: pointer;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.timer-delete-icon:hover {
  color: var(--text);
  transform: scale(0.94);
}

.new-title-timer {
  visibility: hidden;
}

.title-timer-text {
  color: var(--border-green);
  text-shadow: 2px 2px 3px var(--border);
  cursor: default;
}

.specificStyleTimer{
  flex-direction: column;
}

.specificStyleTimerDisplay {
  font-size: 2rem;
  color: var(--border-green);
  text-shadow: 2px 2px 3px var(--border);
}

.specificStyleTimerButton {
  color: var(--text);
  box-shadow: 2px 2px 3px var(--border);
  background-color: var(--border-green);
  padding: 6px 24px;
}

.link-img-logo-header {
  width: 7rem;
  box-shadow: 0 0 5px var(--bg), 0 0 10px var(--bg);
  border-radius: 50%;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.container-login-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 15%;
  background-image: url(../../assets/images/image-login-logout.png);
  background-position: top;
  background-size: cover;
  padding: 6px 8px;
  border: 1px solid var(--border-green);
  border-radius: 8px;
  box-shadow: 5px 5px 5px var(--border);
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container-login-signin-image-name {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.container-login-signin-image-name-long-text {
  font-size: 1.3rem;
  color: var(--border-yellow);
  text-shadow: 2px 2px 3px var(--border);
  overflow-wrap: break-word;
  cursor: default;
}

.container-login-signin-image-name-short-text {
  font-size: 1.3rem;
  color: var(--border-yellow);
  text-shadow: 2px 2px 3px var(--border);
  overflow-wrap: break-word;
  cursor: default;
}

.container-login-signin-image-name-img {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0;
  text-shadow: 0;
  box-shadow: 5px 3px 3px var(--border-yellow);
}

.link-container-button-signout {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.container-button-signout {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.specificStylesSignoutButton {
  font-size: 0.9rem;
  color: var(--text);
  text-shadow: 1px 1px 2px var(--border);
  background-color: var(--border-yellow);
  padding: 2px 6px;
  border: 1px solid var(--text);
  border-radius: 4px;
}

.specificStylesSignoutButton:hover {
  color: var(--border-yellow);
  background-color: var(--text);
  border: 1px solid var(--border-yellow);
}

/* Responsiveness */
@media (max-width: 480px) {
  .header {
    padding: 0 8px;
  }

  .link-img-logo-header {
    width: 70px;
  }

  .title-timer {
    top: 10%;
    left: 30%;
    border: none;
  }

  .title-timer-text {
    display: none;
  }

  .specificStyleTimerDisplay {
    font-size: 0.8rem;
    padding: 2px;
  }

  .specificStyleTimerButton {
    font-size: 0.4rem;
    padding: 2px 16px;
  }
  
  .container-login-signin {
    width: 35%;
    padding: 2px;
  }

  .container-login-signin-image-name-img {
    width: 30px;
  }

  .container-login-signin-image-name-short-text {
    font-size: 0.95rem;
    line-height: 1.1;
  }

  .container-login-signin-image-name-long-text {
    display: none;
  }

  .specificStylesSignoutButton {
    font-size: 0.95rem;
    padding: 2px;
  }

}

@media (min-width: 481px) {
  .header {
    padding: 0 10px;
  }

  .link-img-logo-header {
    width: 90px;
  }

  .title-timer {
    top: 10%;
    left: 34%;
    border: none;
  }

  .title-timer-text {
    display: none;
  }

  .specificStyleTimerDisplay {
    font-size: 0.9rem;
    padding: 4px;
  }

  .specificStyleTimerButton {
    font-size: 0.5rem;
    padding: 2px 16px;
  }
  
  .container-login-signin {
    font-size: 1rem;
    width: 35%;
    padding: 2px;
  }

  .container-login-signin-image-name-img {
    width: 30px;
  }

  .container-login-signin-image-name-short-text {
    display: none;
  }

  .container-login-signin-image-name-long-text {
    display: flex;
    font-size: 1rem;
  }

  .specificStylesSignoutButton {
    font-size: 1rem;
    padding: 2px 4px;
  }

}

@media (min-width: 768px) {
  .header {
    height: 17vh;
    padding: 0 12px;
  }

  .link-img-logo-header {
    width: 110px;
  }

  .title-timer {
    position: fixed;
    top: 1%;
    left: 35%;
    padding: 4px;
    border: 1px solid var(--border-green);
    background-image: url(../../assets/images/bg-header-main-footer.png);
    background-position: center;
    background-size: contain;
    z-index: 1;
  }

  .title-timer-text {
    display: flex;
  }

  .specificStyleTimerDisplay {
    font-size: 1.30rem;
  }

  .specificStyleTimerButton {
    font-size: 0.6rem;
    padding: 4px 20px;
  }
  
  .container-login-signin {
    width: 30%;
    padding: 4px;
  }

  .container-login-signin-image-name-img {
    width: 40px;
  }

  .specificStylesSignoutButton {
    padding: 2px 4px;
  }

}

@media (min-width: 1024px) {
  .header {
    padding: 0 14px;
  }

  .link-img-logo-header {
    width: 130px;
  }

  .title-timer {
    left: 38%;
  }

  .specificStyleTimerDisplay {
    font-size: 1.35rem;
  }

  .specificStyleTimerButton {
    font-size: 0.8rem;
  }

  .container-login-signin {
    gap: 6px;
    font-size: 1.05rem;
    width: 25%;
  }

  .container-login-signin-image-name-img {
    width: 50px;
  }

  .container-login-signin-image-name-long-text {
    font-size: 1.05rem;
  }

  .specificStylesSignoutButton {
    font-size: 1.05rem;
    padding: 2px 8px;
  }

}

@media (min-width: 1280px) {
  .header {
    padding: 0 16px;
  }

  .title-timer {
    left: 42%;
  }

  .specificStyleTimerDisplay {
    font-size: 1.40rem;
  }

  .specificStyleTimerButton {
    font-size: 0.85rem;
  }

  .container-login-signin {
    font-size: 1.1rem;
    width: 20%;
  }

  .container-login-signin-image-name-long-text {
    font-size: 1.1rem;
  }

}

@media (min-width: 1440px) {
  .title-timer {
    left: 41%;
  }

  .specificStyleTimerDisplay {
    font-size: 1.45rem;
  }

  .specificStyleTimerButton {
    font-size: 0.9rem;
  }

  .container-login-signin {
    font-size: 1.125rem;
  }

  .container-login-signin-image-name-long-text {
    font-size: 1.125rem;
  }

}
