.exercises-page-style {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 78vh;
  background-image: url(../../assets/images/bg-header-main-footer.png);
  background-position: center;
  background-size: cover;
}

.delete-icon-banner-exercises-page {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.3rem;
  color: var(--border);
  background-color: var(--border-yellow);
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.delete-icon-banner-exercises-page:hover {
  color: var(--border-yellow);
  background-color: var(--border);
  transform: scale(0.94);
}

.banner-exercises-page {
  background-image: url(../../assets/images/image-training-neon.png);
  background-position: center;
  background-size: contain;
  width: 100%;
}

.container-iframe-delete {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}

.videos-target-banner-iframe {
  width: 100%;
  border: none;
}

.videos-target-banner-iframe-delete-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.3rem;
  color: var(--border-green);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.videos-target-banner-iframe-delete-icon:hover {
  color: var(--text);
  transform: scale(0.94);
}

.exercises-page-style-cards {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  overflow-y: auto;
  overflow-x: hidden;
}

.exercises-page-style-cards::-webkit-scrollbar {
  width: 8px;
}

.exercises-page-style-cards::-webkit-scrollbar-track {
  background: var(--text);
  border-radius: 10px;
}

.exercises-page-style-cards::-webkit-scrollbar-thumb {
  background: var(--border-green);
  border-radius: 10px;
}

.exercises-page-style-cards::-webkit-scrollbar-thumb:hover {
  background: var(--border-yellow);
}

.exercises-page-style-cards-timer-title-music {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.exercises-page-style-cards-timer-title-music-long-text {
  color: var(--border-green);
  text-shadow: 3px 2px 3px var(--border);
  margin: 0;
  cursor: default;
}

.container-delete-icon-music-player {
  position: relative;
}

.music-delete-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.1rem;
  color: var(--border-green);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.music-delete-icon:hover {
  color: var(--text);
  transform: scale(0.94);
}

.menu-exercises-page-style-cards-timer-title-music-toggle-video-modal {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  width: 100%;
  min-height: 30px;
}

.new-menu-exercises-page-style-cards-timer-title-music-toggle-video-modal {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  width: 100%;
  min-height: 30px;
}

.descriptionIconsMenu {
  position: absolute;
  top: -1px;
  color: var(--border-green);
  cursor: default;
}

.toggle-default-timer-title-music {
  z-index: 1;
}

.new-toggle-default-timer-title-music {
  z-index: 1;
}

.exercises-page-style-cards-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.exercises-page-style-cards-title-short-text {
  font-size: 1.5rem;
  color: var(--border-green);
  text-shadow: 3px 2px 3px var(--border);
  margin: 0;
}

/* Responsiveness */
@media (max-width: 480px) {
  .exercises-page-style {
    min-height: 77.9vh;
    background-size: contain;
  }

  .exercises-page-style {
    min-height: 0;
  }

  .exercises-page-style-cards {
    gap: 8px;
    padding: 8px;
  }

  .exercises-page-style-cards::-webkit-scrollbar {
    width: 4px;
  }

  .banner-exercises-page {
    height: 165px;
  }

  .videos-target-banner-iframe {
    height: 165px;
  }

  .exercises-page-style-cards-timer-title-music {
    flex-direction: column-reverse;
    gap: 12px;
  }

  .exercises-page-style-cards-timer-title-music-long-text {
    display: none;
  }

  .music-delete-icon {
    font-size: 0.8rem;
  }

  .music-player {
    font-size: 0.7rem;
  }

  .specificStyleMusicButton {
    font-size: 0.4rem;
    padding: 4px 20px;
  }

  .descriptionIconsMenu {
    display: none;
  }

  .toggle-default-timer-title-music-toggle-on-toggle-off {
    width: 20px;
    height: 20px;
  }

  .specificsStylesTogglesVideoModal {
    width: 23px;
    height: 23px;
  }

  .new-specificsStylesTogglesVideoModal {
    width: 23px;
    height: 23px;
  }

}

@media (min-width: 481px) {
  .exercises-page-style {
    min-height: 77.9vh;
    background-size: contain;
  }

  .exercises-page-style {
    min-height: 0;
  }

  .exercises-page-style-cards {
    gap: 8px;
    padding: 8px;
  }

  .exercises-page-style-cards::-webkit-scrollbar {
    width: 4px;
  }

  .banner-exercises-page {
    height: 165px;
  }

  .videos-target-banner-iframe {
    height: 165px;
  }

  .exercises-page-style-cards-timer-title-music {
    justify-content: center;
  }

  .exercises-page-style-cards-timer-title-music-long-text {
    display: none;
  }

  .descriptionIconsMenu {
    display: none;
  }

  .toggle-default-timer-title-music-toggle-on-toggle-off {
    width: 20px;
    height: 20px;
  }

  .specificsStylesTogglesVideoModal {
    width: 23px;
    height: 23px;
  }

  .new-specificsStylesTogglesVideoModal {
    width: 23px;
    height: 23px;
  }

  .music-delete-icon {
    font-size: 0.9rem;
  }

  .music-player {
    font-size: 0.7rem;
  }

  .specificStyleMusicButton {
    font-size: 0.4rem;
    padding: 4px 20px;
  }

}

@media (min-width: 768px) {
  .exercises-page-style {
    min-height: 77.9vh;
  }

  .exercises-page-style {
    min-height: 78vh;
  }

  .exercises-page-style-cards {
    gap: 16px;
    padding: 12px 12px 12px;
    overflow-y: hidden;
  }

  .banner-exercises-page {
    height: 165px;
  }

  .exercises-page-style-cards-timer-title-music {
    justify-content: space-between;
  }
  
  .exercises-page-style-cards-timer-title-music-long-text {
    display: flex;
    font-size: 1.7rem;
  }

  .specificStyleMusicButton {
    font-size: 0.75rem;
    padding: 4px 24px;
  }

  .exercises-page-style-cards-title {
    display: none;
  }

  .toggle-default-timer-title-music-toggle-on-toggle-off {
    width: 25px;
    height: 25px;
  }

  .specificsStylesTogglesVideoModal {
    width: 25px;
    height: 25px;
  }

  .new-specificsStylesTogglesVideoModal {
    width: 25px;
    height: 25px;
  }

  .music-delete-icon {
    font-size: 1rem;
  }

}

@media (min-width: 1024px) {
  .exercises-page-style {
    background-size: cover;
  }

  .exercises-page-style-cards {
    padding: 20px;
  }

  .banner-exercises-page {
    height: 170px;
  }

  .videos-target-banner-iframe {
    height: 170px;
  }

  .descriptionIconsMenu {
    display: flex;
    top: -2px;
    font-size: 0.7rem;
  }

  .exercises-page-style-cards-timer-title-music-long-text {
    font-size: 1.8rem;
  }

  .specificStyleMusicButton {
    font-size: 0.8rem;
    padding: 6px 24px;
  }

  .music-delete-icon {
    font-size: 1.1rem;
  }

}

@media (min-width: 1280px) {
  .exercises-page-style-cards {
    padding: 24px;
  }

  .banner-exercises-page {
    height: 190px;
  }

  .videos-target-banner-iframe {
    height: 190px;
  }

  .descriptionIconsMenu {
    top: -1px;
    font-size: 0.8rem;
  }

  .exercises-page-style-cards-timer-title-music-long-text {
    font-size: 1.9rem;
  }

  .specificStyleMusicButton {
    font-size: 0.85rem;
  }

}

@media (min-width: 1440px) {
  .exercises-page-style {
    min-height: 77.9vh;
  }

  .exercises-page-style {
    min-height: 75.3vh;
  }

  .exercises-page-style-cards {
    padding: 28px;
  }

  .banner-exercises-page {
    height: 210px;
  }

  .videos-target-banner-iframe {
    height: 210px;
  }

  .descriptionIconsMenu {
    top: 0;
    font-size: 0.9rem;
  }

  .exercises-page-style-cards-timer-title-music-long-text {
    font-size: 2rem;
  }

  .specificStyleMusicButton {
    font-size: 0.9rem;
  }

}
