.login {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14.9vh;
  color: var(--border-green);
  text-shadow: 2px 2px 3px var(--border);
  padding: 0 16px;
  border-bottom: 1px solid var(--border-green);
  background-image: url(../../assets/images/bg-header-footer.png);
  background-position: center;
}

.link-img {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border: 1px solid var(--border-green);
  border-radius: 8px;
  box-shadow: 5px 5px 5px var(--border);
  transition: all 0.3s ease-in-out;
  background-image: url(../../assets/images/image-login-logout.png);
  background-position: center;
  background-size: cover;
}

.form-labels-inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-label-input {
  display: flex;
  align-items: center;
  gap: 6px;
}

.alert-login-message-disable {
  display: none;
}

.alert-login-message-able {
  display: flex;
  position: absolute;
  bottom: -50%;
  font-size: 1rem;
  color: var(--error-color);
  text-shadow: 0 0 0;
  background-color: var(--border-yellow);
  padding: 0 2px;
  border: 1px solid var(--error-color);
  border-radius: 4px;
}

.container-button {
  display: flex;
  justify-content: end;
}

.specificStylesLoginButton {
  font-size: 0.9rem;
  color: var(--text);
  text-shadow: 1px 1px 2px var(--border);
  background-color: var(--border-yellow);
  padding: 2px 8px;
  border: 1px solid var(--text);
  border-radius: 4px;
}

.specificStylesLoginButton:hover {
  color: var(--border-yellow);
  background-color: var(--text);
  border: 1px solid var(--border-yellow);
}

/* Responsiveness */
@media (max-width: 480px) {
  .login {
    padding: 0 8px;
  }

  .link-img-logo {
    width: 70px;
  }

  form {
    font-size: 0.95rem;
    width: 35%;
    padding: 2px;
  }

  .alert-login-message-able {
    font-size: 0.7rem;
  }

  .specificStylesLoginButton {
    font-size: 0.95rem;
    padding: 2px;
  }

}

@media (min-width: 481px) {
  .login {
    padding: 0 10px;
  }

  .link-img-logo {
    width: 90px;
  }

  form {
    font-size: 1rem;
    width: 35%;
    padding: 2px;
  }

  .alert-login-message-able {
    font-size: 0.8rem;
  }

  .specificStylesLoginButton {
    font-size: 1rem;
    padding: 2px 4px;
  }

}

@media (min-width: 768px) {
  .login {
    padding: 0 12px;
  }

  .link-img-logo {
    width: 110px;
  }

  form {
    width: 30%;
    padding: 4px;
  }

  .alert-login-message-able {
    font-size: 0.9rem;
  }

  .specificStylesLoginButton {
    padding: 2px 6px;
  }

}

@media (min-width: 1024px) {
  .login {
    padding: 0 14px;
  }

  .link-img-logo {
    width: 130px;
  }

  form {
    font-size: 1.05rem;
    width: 25%;
  }

  .alert-login-message-able {
    font-size: 1rem;
  }

  .specificStylesLoginButton {
    font-size: 1.05rem;
    padding: 2px 8px;
  }

}

@media (min-width: 1280px) {
  .login {
    padding: 0 16px;
  }

  form {
    font-size: 1.1rem;
    width: 20%;
  }

}

@media (min-width: 1440px) {
  form {
    font-size: 1.125rem;
  }

}
