.notes-page-styles {
  display: flex;
  flex-direction: column;
  min-height: 78vh;
}

.banner-notes-page {
  background-image: url(../../assets//images/image-notes-neon.png);
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 150px;
}

.cards-info-notes {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
  flex: 1;
  background-image: url(../../assets/images/bg-header-footer.png);
  color: var(--border-green);
  text-shadow: 4px 2px 3px var(--border);
  cursor: default;
}

.cards-info-notes-title {
  font-size: 3rem;
  color: var(--border-green);
  text-shadow: 3px 2px 3px var(--border);
  padding-top: 32px;
}

.cards-info-notes-itens {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
  overflow-wrap: break-word;
}

.cards-info-notes-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 2rem;
  color: var(--border-yellow);
  text-shadow: 3px 2px 3px var(--border);
}

.cards-info-notes-item:hover {
  color: var(--border-green);
  text-shadow: 3px 2px 3px var(--border);
}

.iconCheckNotes {
  color: var(--border-green);
}

/* Responsiveness */
@media (max-width: 480px) {
  .banner-notes-page {
    height: 80px;
  }

  .cards-info-notes {
    padding: 6px;
  }

  .cards-info-notes-title {
    font-size: 1.5rem;
  }

  .cards-info-notes-itens {
    align-items: start;
    width: 100%;
    word-break: break-all;
  }

  .cards-info-notes-item {
    font-size: 1rem;
  }

}

@media (min-width: 481px) {
  .banner-notes-page {
    height: 100px;
  }

  .cards-info-notes {
    padding: 8px;
  }

  .cards-info-notes-title {
    font-size: 1.6rem;
  }

  .cards-info-notes-itens {
    align-items: start;
    width: 100%;
    word-break: break-all;
  }

  .cards-info-notes-item {
    font-size: 1.1rem;
  }

}

@media (min-width: 768px) {
  .banner-notes-page {
    height: 120px;
  }

  .cards-info-notes {
    padding: 10px;
  }

  .cards-info-notes-title {
    font-size: 1.7rem;
  }

  .cards-info-notes-itens {
    align-items: center;
    word-break: normal;
  }

  .cards-info-notes-item {
    font-size: 1.2rem;
  }

}

@media (min-width: 1024px) {
  .banner-notes-page {
    height: 140px;
  }

  .cards-info-notes {
    padding: 12px;
  }

  .cards-info-notes-title {
    font-size: 1.8rem;
  }

  .cards-info-notes-item {
    font-size: 1.3rem;
  }

}

@media (min-width: 1280px) {
  .cards-info-notes {
    padding: 14px;
  }

  .cards-info-notes-title {
    font-size: 1.9rem;
  }

  .cards-info-notes-item {
    font-size: 1.4rem;
  }

}

@media (min-width: 1440px) {
  .cards-info-notes {
    padding: 16px;
  }

  .cards-info-notes-title {
    font-size: 2rem;
  }

  .cards-info-notes-item {
    font-size: 1.5rem;
  }

}
